@media (max-width: 1200px) {
}

@media (max-width: 1120px) {
    .main-slider__text {
        font-size: 12px;
    }

    .btn__list {
        bottom: 12%;
    }
}

@media (max-width: 992px) {
    .slide__btn {
        left: 12%;
        top: 12%;
        transform: translateY(0);
    }

    .slide__text {
        padding-top: 20%;
    }
    .slide__item:hover .slide__text {
        transform: translateY(200px);
    }

    .section-title {
        font-size: 54px;
        line-height: 70px;
    }

    .first__title {
        max-width: 65%;
    }

    .first__descr {
        max-width: 60%;
        margin-bottom: 40px;
    }

    .subscribe-form__wrap {
        margin: 35px 50px;
    }

    .search-form {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .slide__text {
        padding-top: 10%;
    }

    .section-title {
        font-size: 44px;
        line-height: 60px;
    }

    .first__title {
        max-width: 80%;
    }

    .first__descr {
        max-width: 80%;
        margin-bottom: 60px;
    }

    .main-slider__text {
        height: 60px;
    }

    .main-slider__media {
        height: 138px;
    }

    .search-form {
        height: 60px;
    }

    .search-form__button {
        top: 35%;
    }

    .btn__list {
        font-size: 10px;
        bottom: 8%;
        width: 98%;
    }

    .become {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .become__title {
        max-width: 80%;
    }

    .become__list {
        justify-content: center;
    }

    .become__item {
        width: 45%;
        margin-right: 5%;

        margin-bottom: 5%;
    }

    .become__item:nth-child(2n) {
        margin-right: 0;
    }
    .featured__container {
        padding: 100px 30px;
    }

    .featured {
        height: auto;
    }

    .blog-article {
        width: 100%;
    }

    .blog-article__title {
        margin: 40px 0;
    }

    .featured__stories {
        position: relative;

        height: 100%;
        width: 100%;

        padding: 100px;
    }

    .featured-videos {
        padding: 100px 0 60px 0;
    }

    .footer {
        padding-top: 80px;
    }

    .footer__container {
        flex-wrap: wrap;
        padding-bottom: 60px;
    }

    .footer__column {
        width: 48%;
        margin-bottom: 80px;
        margin-right: 2%;
    }

    .footer__column:nth-child(2n) {
        margin-right: 0;
    }

    .footer__column:last-child {
        margin-bottom: 0;
    }

    .footer__column:nth-child(3) {
        margin-bottom: 0;
    }

    .footer__email {
        width: 100%;
        padding-top: 0;
    }

    .footer__btn {
        width: 100%;
    }

    .footer__copy {
        width: 60%;
    }

    .footer__links {
        width: 35%;
    }
}

@media (max-width: 576px) {
    .slide__text {
        padding-top: 12%;
    }

    .section-title {
        font-size: 45px;
        line-height: 55px;
    }

    .first {
        height: auto;
    }
    .first-container {
        display: flex;
        flex-direction: column;
        padding: 130px 0px 0;
    }

    .first-wrap {
        padding: 20px;
    }

    .first__link {
        width: 30%;
    }

    .first__bottom {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .first__btn {
        width: 60%;
    }

    .search-form {
        order: 2;
        width: 100%;
        height: 90px;
        font-size: 16px;
    }

    .main-slider {
        width: 100%;
    }

    .main-slider__media {
        height: 100%;
    }

    .main-slider__text {
        height: 90px;
        font-size: 16px;
    }

    .btn__list {
        font-size: 10px;
        bottom: 8%;
        width: 80%;
    }

    .slide-list {
        height: 350px;
    }

    /* .slide__text {
        padding-top: 250px;
    } */

    .footer__column {
        width: 50%;
        margin-bottom: 80px;
        margin-right: 0;
        justify-content: space-between;
    }

    .footer__column:last-child {
        width: 100%;
        order: -1;
        margin-bottom: 80px;
    }

    .footer__title {
        font-size: 18px;
    }
    .footer__item {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .headet__container {
        flex-wrap: wrap;

        padding-top: 20px;
    }
    .header__logo {
        text-align: left;
        margin-bottom: 40px;
        width: 80%;
    }

    .social {
        order: 3;
        width: 100%;
    }

    .menu__list {
        font-size: 30px;
        padding: 90px 0px 30px;
    }

    .menu__close {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 5%;
        top: 5%;
    }

    .section-title {
        font-size: 35px;
        line-height: 45px;
    }

    .first__title {
        max-width: 100%;
    }

    .first__descr {
        max-width: 100%;
    }

    .first__btn {
        width: 100%;
    }

    .main-slider__text {
        height: 65px;
        font-size: 12px;
    }

    .search-form {
        height: 65px;
    }

    .become__title {
        max-width: 100%;
    }

    .become__item {
        width: 100%;
        margin-right: 0;
    }

    .become {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .featured__container {
        padding: 80px 15px;
    }

    .featured__stories {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 80px 15px 60px;
    }

    .blog-article__title {
        max-width: 100%;
        font-size: 40px;
        line-height: 55px;
    }

    .blof-article__descr {
        max-width: 100%;
    }

    .blog-article__link {
        width: 100%;
        text-align: center;
    }

    .featured-videos {
        padding: 80px 0 60px 0;
    }

    .newsletter__text {
        margin-bottom: 150px;
    }

    .inspiration {
        padding-bottom: 80px;
    }

    .inspiration__descr {
        max-width: 100%;
        margin-bottom: 60px;
    }
    .inspiration__list {
        grid-auto-rows: minmax(400px, auto);
    }

    .inspiration__item--bigheght {
        height: 400px;
    }

    .insp-article {
        padding: 40px 20px;
    }
    .insp-article__title {
        font-size: 30px;
    }

    .footer__column {
        width: 100%;
    }
    .btn {
        padding: 20px;
    }
    .footer__bottom {
        padding-bottom: 10px;
    }

    .bottom__container {
        flex-direction: column-reverse;
    }

    .footer__copy {
        width: 100%;
    }

    .footer__links {
        width: 100%;
        margin-bottom: 20px;
    }
}
